<!DOCTYPE html>
<html>
<head>
	<title>LogIn SmartBr</title>
   <!--Made with love by Mutiullah Samim -->
    {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
    {{#each js}}
        <script src="/js/{{this}}"></script>
    {{/each}}
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div class="container">
	{{#if success_msg}}
		<div class="alert alert-success">
			{{success_msg}}
		</div>
	{{/if}}
	{{#if error_msg}}
		<div class="alert alert-danger">
			{{error_msg}}
		</div>
	{{/if}}
	{{#if error}}
		<div class="alert alert-danger">
			{{error}}
		</div>
	{{/if}}
	
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form method="POST" action="/login">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" name="cpf" class="form-control" placeholder="username">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" name="password" class="form-control" placeholder="password">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="/register">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(".alert").fadeTo(3200, 800).slideUp(1000, function(){
		$(".alert").slideUp(500);
	});
</script>
</body>
</html>